<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Plantilla</title>
</head>
<body>

    <header th:fragment="header">
        <h1 th:text="#{plantilla.titulo}"></h1>
    </header>

    <footer th:fragment="footer">
        <br />
        <hr />
        <div>
            <a th:href="@{/(lang=es)}">ES</a> |
            <a th:href="@{/(lang=en)}">EN</a>
        </div>
        <!-- Para evitar que el texto alterno interno que se pone en la etiqueta usamos la sintaxis
         [[#{variables}]]-->
        <p> [[ #{plantilla.footer} ]]</p>
        <br>
        <form th:action="@{/logout}" method="post">
            <button>Logout</button>
        </form>
    </footer>
</body>
</html>