<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>

    <!-- Define el fragmento necesario a usar desde el archivo plantilla -->
    <header th:replace="layout/plantilla :: header"></header>

    <a th:href="@{/agregar}">Crear persona</a>
    <div th:if="${personas != nulll and !personas.empty}">
        <table border="1">
            <thead>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </thead>
            <tbody>
                    <tr th:each="persona : ${personas}">
                        <td th:text="${persona.nombre}"></td>
                        <td th:text="${persona.apellido}"></td>
                        <td th:text="${persona.telefono}"></td>
                        <td th:text="${persona.email}"></td>
                        <td>
                            <a th:href="@{/editar/} + ${persona.id}">
                                Editar
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/eliminar(id=${persona.id})}">
                                Eliminar
                            </a>
                        </td>
                    </tr>
            </tbody>
        </table>

    </div>
    <div th:if="${personas == nulll or personas.empty}">
        No hay compañeros de trabajo2
    </div>

    <!-- Define el fragmento necesario a usar desde el archivo plantilla -->
    <footer th:replace="layout/plantilla :: footer"></footer>

</body>
</html>