<!DOCTYPE html>
<!-- Para evitar los warnings de inicio agregar el segundo
namespace de w3, lo que hara que debemos cerrar toda etiqueta
que creemos -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{persona.detalle}"></title>
</head>
<body>

    <!-- Define el fragmento necesario a usar desde el archivo plantilla -->
    <header th:replace="layout/plantilla :: header"></header>

    <h3 th:text="#{persona.detalle}"></h3>
    <a th:href="@{/}" th:text="#{accion.regresar}"></a>
    <br/>
    <form th:action="@{/guardar}" method="post" th:object="${persona}">

        <input type="hidden" name="id" th:field="*{id}">
        <label>[[#{persona.nombre}]]:</label>
        <input type="text" name="nombre" th:field="*{nombre}"/>
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>

        <br/>

        <label>[[#{persona.apellido}]]:</label>
        <input type="text" name="apellido" th:field="*{apellido}"/>
        <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span>

        <br/>

        <label>[[#{persona.email}]]:</label>
        <input type="text" name="email" th:field="*{email}"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

        <br/>

        <label>[[#{persona.telefono}]]:</label>
        <input type="tel" name="telefono" th:field="*{telefono}"/>
        <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span>

        <br/>

        <button th:text="#{accion.guardar}"></button>
    </form>

    <!-- Define el fragmento necesario a usar desde el archivo plantilla -->
    <footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>